/* banner section */
.banner-section {
    margin-top: 20px;
    min-height: 500px;
}
.banner-section h1 {
    font-family: "Lato";
    font-weight: 300;
    font-size: clamp(1.875rem, 0.4688rem + 4.5vw, 3rem);
    color: #fff;
    max-width: 500px;
    margin-top: 70px;
}
.banner-section h1 span {
    font-family: "Lato";
    font-weight: 500;
}
@media (max-width: 1199px) {
    .banner-section h1 {
        margin-top: 30px;
    }
}
.banner-section p {
    max-width: 450px;
    margin: 20px 0;
    margin-bottom: 40px;
}
.banner-section a {
    display: inline;
    padding: 10px 30px;
    padding-right: 5px;
}
.banner-section .col-md-6 .card .card-img-top {
    max-width: 430px;
    margin: 0 auto;
    margin-top: 20px;
    margin-right: 0;
}
@media (max-width: 1400px) {
    .banner-section .col-md-6 .card .card-img-top {
        max-width: 400px;
        margin-top: 15px;
        margin-right: auto;
    }
}
@media (max-width: 1199px) {
    .banner-section .col-md-6 .card .card-img-top {
        max-width: 350px;
    }
}
@media (max-width: 767px) {
    .banner-section .col-md-6 .card .card-img-top {
        margin-top: 100px;
    }
}

/* introduction section */
.introduction-section {
    margin-top: 50px;
}
.introduction-section .card .back-bg {
    margin-left: -30px !important;
    margin-top: -20px;
    position:absolute;
    z-index: -1;
}
.introduction-section .card svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.introduction-section .card svg.defs {
    position: absolute;
    width: 0;
    height: 0;
}
.introduction-section .card .squircle {
    width: 100%;
    height: 450px;
    background: url(./images/learn-img.jpg) center/cover, #aaa;
    clip-path: url(#clip-path);
    background-position-x: -50px;
}

.introduction-section .weighted-p {
    font-weight: bold;
}

.introduction-section .italicized-p {
    font-style: italic;
}

.introduction-section p small {
    font-size: 16px;
}

.introduction-section a {
    margin-top: 20px;
    display: inline-block;
}

/* tutorials */
.tutorials-section {
    margin-top: 100px;
    padding-bottom: 100px;
}
.tutorials-section svg {
    position: absolute;
    margin-left: -100px;
    margin-top: 100px;
}
@media (max-width: 767px) {
    .tutorials-section svg {
        margin: 0 auto;
        margin-top: 200px;
    }
}
.tutorials-section h2 {
    margin-top: 200px;
}
@media (max-width: 991px) {
    .tutorials-section h2 {
        margin-top: 0;
    }
}
.tutorials-section .col-lg-4 p {
    max-width: 320px;
    margin-bottom: 30px;
}
.tutorials-section .col-lg-8 {
    padding: 10px 100px;
}
@media (max-width: 767px) {
    .tutorials-section .col-lg-8 {
        padding: 10px 0;
    }
}
.tutorials-section .col-lg-8 .row .col:first-child {
    margin-top: 150px;
}
@media (max-width: 600px) {
    .tutorials-section .col-lg-8 .row .col:first-child {
        margin-top: 50px;
    }
}
@media (max-width: 600px) {
    .tutorials-section .col-lg-8 .col {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.tutorials-section .col-lg-8 .card {
    background: #44447e;
    margin: 30px 5px;
    padding: 20px 10px;
    border-radius: 20px;
    box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.08);
  }
.tutorials-section .col-lg-8 .card .oval {
    background: linear-gradient(to right, #30e4f9, #f0fbfe);
    padding: 10px;
    width: 150px;
    border-radius: 50%;
    margin: auto;
    transform: rotate(20deg);
    margin-top: 20px;
}
.tutorials-section .col-lg-8 .card .card-img-top {
    max-width: 0.8in;
    margin: 0 auto;
    transform: rotate(-20deg);
}
.tutorials-section .col-lg-8 .card h3 {
    font-family: "Lato";
    font-size: 24px;
    color: #fff;
}
.tutorials-section .col-lg-8 .card p {
    font-size: 16px;
    color: skyblue;
}

/* Features List Section */
.features-list-section {
    margin-top: 200px;
    margin-bottom: 200px;
}
.features-list-section .media {
    margin: 20px 0;
}
.features-list-section .oval {
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    height: 60px;
    width: 60px;
}
.features-list-section .oval .align-self-start {
    width: 100%;
    padding: 3px;
}
.features-list-section .media-body {
    font-family: "Open Sans";
    font-size: 16px;
    color: #666666;
    padding-right: 20px;
}
.features-list-section .media-body h5 {
    font-family: "Lato";
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px !important;
    font-size: 22px;
}
.features-list-section .media-body p {
    font-size: 16px;
}